.container {
    background-color: lightgrey ;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
}

.box-1 {
    background-color: orange  ;
    height: 25%;
}

.box-2 {
    background-color: khaki   ;
    height: 25%;
}

.box-3 {
    background-color: cornflowerblue  ;
    height: 50%;
}